<label class="header block" data-i18n-text="page.bot_creation.header"></label>
<p data-i18n-text="page.bot_creation.para1"></p>
<h2 data-i18n-text="page.bot_creation.basic_info"></h2>
<label data-i18n-text="page.bot_creation.bot_name"></label><br>
<input data-page-id="bot-name" class="jumbo"><br>
<label data-i18n-text="page.bot_creation.bot_token"></label><br>
<input data-page-id="bot-token" class="jumbo"><br>
<button data-i18n-text="page.bot_creation.button.create" data-page-id="button-create"></button>