@use "sass:color";

$navbar: var(--color-navbar);
$icon: var(--color-icon);

:root {
  // Basic colors
  --color-navbar: #111;
  --color-main: #222;
  --color-text: white;
  --color-container: #333;
  --color-container-2: #444;

  --color-popup: #111;
  --color-popup-backdrop: #333;

  // Text;
  --color-text: white;
  --color-text-dim: #999;

  // Icon colors
  --color-icon: #fff;
  --color-icon-hover: #333;
  --color-icon-selected: #444;

  // Elements
  --color-foreground-element: #111;
  --color-foreground-element-focus: #181818;
  --color-foreground-element-hover: #131313;

  // Accent Colors
  --color-primary: #5865F2;
  --color-primary-dark: #{color.adjust(#5865F2, $lightness: -3%)};
  --color-danger: #940000;
  --color-success: #009c00;
}

@function color($name) {
  @return var(--color-#{$name});
}