@use "../util.scss";

.plugin-container {
  @include util.no-select;
  margin: 10px;
}

.plugin-base > div {
  padding-left: 15px;

  border-left-color: gray;
  border-left-width: 2px;
  border-left-style: solid;
}

.plugin-notice {
  margin: 10px;
  display: block;
  text-align: center;
}